* {
  box-sizing: border-box;
}

body {
  background-image: url(img/alquimia11.jpg);
  background-size: cover;
  height: 100vh;
  font-family: "Cinzel", serif;
  /* font-family: "MedievalSharp", cursive; */
  /* font-family: "Pirata One", system-ui; */
  /* font-family: "Almendra SC", serif; */
  /* font-family: "Cormorant Garamond", serif; */
  /* font-family: "IM Fell English SC", serif; */
  color: #014e5a;
}

main {
  color: black;
  font-size: 1.2em;
  /* background-color: beige; */
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 4px white;
  font-family: "UnifrakturMaguntia", cursive;
  /* color: #014e5a; */
}
